body {
    font-family : 'Magra', Helvetica, sans-serif;
    font-size   : 100%;
    color       : #2B1A1A;
}

dl, dd {
    margin : 0;
}

dt {
    font-weight : bold;
}

dd {
    font-size : 0.9em;
}

ul {
    margin  : 0;
    padding : 0;
}

li {
    list-style : none;
}

a {
    color           : #219F4D;
    text-decoration : none;
}

a:hover {
    text-decoration : underline;
}

h3 {
    margin-top    : 1.5em;
    margin-bottom : 0.5em;
    font-size     : 1.1em;
    font-weight   : bold;
}

p {
    margin : 0 0 0.65em 0;
}

span.callout {
    color : #d80063;
}

#resume {
    max-width : 45em;
    margin    : auto;
}

footer {
    padding     : 0.75em 0;
    margin-top  : 4em;
    border-top  : 1px solid #000;
    line-height : 1.5;
    font-size   : 0.85em;
    overflow    : hidden;
}

#resume footer ul li {
    float  : left;
    margin : 0 2em 0 0;
}

#resume-pdf {
    height       : 32px;
    background   : url('images/pdf.png') no-repeat 0 center;
    float        : right;
    padding-left : 2.5em;
    line-height  : 2.1em;
}

#resume {
    padding : 0 0.75em;
}

#resume h2 {
    clear         : both;
    border-bottom : 1px solid #ccc;
    padding-top   : 0.5em;
}

.list-container {
    overflow : hidden;
}

.list-container dl {
    width        : 30%;
    margin-right : 5%;
    float        : left;
}

.list-container dl.last {
    margin-right : 0;
}

#resume h3 span.date {
    font-size : 85%;
    float     : right;
}

#resume ul li {
    margin-left : 1em;
    line-height : 1.5;
    font-size   : 0.9em;
}

.entry p {
    font-size : 0.9em;
}

.icon-email {
    background   : url('images/email.png') no-repeat 0 center;
    padding-left : 2em;
}

.icon-phone {
    background   : url('images/mobile.png') no-repeat 0 center;
    padding-left : 2em;
}

.icon-linkedin {
    background   : url('images/linkedin.png') no-repeat 0 center;
    padding-left : 2em;
}

.icon-github {
    background   : url('images/github.png') no-repeat 0 center;
    padding-left : 2em;
}